parsing-old
front/js/examples.js
*.json
*.csv 
*.txt 
*.xlsx
*.session
__pycache__
connection.py
*.jpg
*.png
extenstions_chrome 
tmp
*.pdf
*.webp
venv
.ipynb_checkpoints
*.swp
venv
*.log
*.sql
*.sqlite

