parsing-old
front/js/examples.js
data
*.json
*.csv 
*.txt 
*.xlsx
*.session
__pycache__
connection.py
*.jpg
*.png
extenstions_chrome 
tmp
*.pdf
*.webp
venv
.ipynb_checkpoints
*.swp
venv
*.log
*.sql
*.sqlite
*.ini
migrations
.env 
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pytest_cache
.vscode